# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
venv/
.vscode/

# Logs and databases
*.log
*.sqlite3

# Dependencies
lib/
bin/
include/
lib64/
share/

# Instance
instance/
